BasedOnStyle: LLVM
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakBeforeMemberAccess: 150
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakOpenParenthesis: 0
PenaltyBreakScopeResolution: 500
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 0
PenaltyExcessCharacter: 1000000
PenaltyIndentedWhitespace: 0
PenaltyReturnTypeOnItsOwnLine: 200
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveBitFields:
  Enabled: false
AlignConsecutiveDeclarations:
  Enabled: false
AlignConsecutiveMacros:
  Enabled: false
AlignConsecutiveShortCaseStatements:
  Enabled: false
# AlignConsecutiveTableGenBreakingDAGArgColons:
#   Enabled: false
# AlignConsecutiveTableGenCondOperatorColons:
#   Enabled: false
# AlignConsecutiveTableGenDefinitionColons:
#   Enabled: false
AlignEscapedNewlines: DontAlign
AlignOperands: Align
AlignTrailingComments: Never
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowBreakBeforeNoexceptSpecifier: Never
AllowShortBlocksOnASingleLine: Never
# AllowShortCaseExpressionOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
# AttributeMacros:
BinPackArguments: false
BinPackParameters: OnePerLine
BitFieldColonSpacing: After
BracedInitializerIndentWidth: 4
BreakAdjacentStringLiterals: true
BreakBeforeTemplateCloser: true
BreakAfterAttributes: Always
AlwaysBreakAfterReturnType: None
BreakArrays: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: false
ContinuationIndentWidth: 4
IndentAccessModifiers: false
IndentWidth: 4
# IndentPPDirectives: Leave
InsertBraces: true
InsertNewlineAtEOF: true
DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Right
ReflowComments: IndentOnly
RemoveSemicolon: true
---
